/*全局样式*/
html,body,h1,h4,ul,li,p{
	margin: 0;
	padding: 0;
}
body{
	font:16px/1.5 "arial, helvetica, sans-serif";
	color: #333;
}
a{
	text-decoration:none;
	color: #333;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.mt20{
	margin-top: 20px;
}







